{{ define "main" }}
    <div class="w-screen text-4xl font-bold text-neutral dark:text-neutral bg-gradient-r-red-blue dark:from-primary-500 dark:to-secondary-800 sm:px-14 md:px-24 lg:px-32">
        {{ .Title | emojify }}
    </div>
  <article>
   <section class="flex flex-col max-w-full prose dark:prose-invert lg:flex-row">
    {{ if or (and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default true)) (in
    .TableOfContents "<ul")) (.Site.Params.article.showRelatedPosts | default false) }} <div
      class="order-first sm:max-w-prose lg:ml-auto px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
      <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky {{ if hasPrefix .Site.Params.header.layout "fixed" -}}
        lg:top-[140px]{{ else }}lg:top-10{{ end }}">

        {{ if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false)) (in
        .TableOfContents "<ul") }} {{ partial "toc.html" . }} {{ end }} {{ if .Site.Params.article.showRelatedPosts |
          default false }} sd {{ end }} 
		  </div>
      </div>
      {{ end }}

      <div class="min-w-0 min-h-0 max-w-fit">
        
        {{ partial "series.html" . }}

        <div class="relative max-w-prose mb-20 sm:px-14 md:px-24 lg:px-32">
          {{ .Content | emojify }}
        </div>
                
        {{ partial "series-closed.html" . }}
        {{ partial "sharing-links.html" . }}
        {{ partial "related.html" . }}  
      </div>
     
     <script>
        var oid = "views_{{ .File.Path }}"
        var oid_likes = "likes_{{ .File.Path }}"
      </script>
      {{ $jsPage := resources.Get "js/page.js" }}
      {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"></script>
  
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}