<!DOCTYPE html>
<html lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default " en") }} {{- . -}} {{ end }}" dir="{{ if .Site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}" class="scroll-smooth" data-default-appearance="{{ .Site.Params.defaultAppearance | default " light" }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default " true" }}">
{{- partial "head.html" . -}}

<body class="flex flex-col bg-neutral text-neutral dark:bg-neutral-800 dark:text-neutral">
  {{ $header := print "partials/header/" .Site.Params.header.layout ".html" }}
  {{ if templates.Exists $header }}
  {{ partial $header . }}
  {{ else }}
  {{ partial "partials/header/basic.html" . }}
  {{ end }}
  <div class="w-screen text-5xl bg-gradient-to-r from-primary-500 to-secondary-700">
    <div style="padding-top:60px;padding-bottom:60px" class="mx-auto leading-7 max-w-7xl text-4xl font-bold text-white sm:px-14 md:px-24 lg:px-32">
      {{ .Title | emojify }}
    </div>
  </div>
  <div class="w-screen mx-auto leading-7 max-w-7xl text-4xl pt-16 sm:px-14 md:px-24 lg:px-32">
  <div class="flex flex-col ">
    <main id="main-content" class="grow">
      {{ block "main" . }}{{ end }}
      {{ if and (.Site.Params.footer.showScrollToTop | default true) (gt .WordCount 1) }}
      {{- partial "scroll-to-top.html" . -}}
      {{ end }}
    </main>
  </div>
  </div>
  <footer>
    {{- partial "footer.html" . -}}
    {{ if .Site.Params.enableSearch | default false }}
    {{- partial "search.html" . -}}
    {{ end }}
  </footer>
</body>
{{ if .Site.Params.buymeacoffee.globalWidget | default false }}
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="{{ .Site.Params.buymeacoffee.identifier }}" data-description="Support me on Buy me a coffee!" data-message="{{ .Site.Params.buymeacoffee.globalWidgetMessage | default "" }}"
  data-color="{{ .Site.Params.buymeacoffee.globalWidgetColor | default "#FFDD00" }}" data-position="{{ .Site.Params.buymeacoffee.globalWidgetPosition | default "Left" }}" data-x_margin="18" data-y_margin="18"></script>
{{ end }}
</html>
