/* Colors
    Light blue: #458FF6 Buttons, solid blues, etc.
    Blue gradient: #407BFF - #5A98F2
    Orange: #FF891C
    White
    Black
*/

@font-face {
    font-family: font;
    src: url('/fonts/Mulish-Regular.ttf');
}

html {
    font-family: font;
}

/* Increase the default font size */
html {
  font-size: 12pt;
}