<a href="{{ .URL }}" {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:" ) }} target="_blank" {{
    end }} class="flex items-center">
    {{ if .Pre }}
    <span {{ if and .Pre .Name}} class="mr-1" {{ end }}>
        {{ partial "icon.html" .Pre }}
    </span>
    {{ end }}
    <p class="text-base font-medium text-gray-500 hover:text-primary-700 dark:hover:text-primary-400" title="{{ .Title }}" >
        {{ .Name | markdownify | emojify }}
    </p>
</a>