{{ $_hugo_config := `{ "version": 1 }` }}
<div class="expand">
    <div class="expand-label" style="cursor: pointer;" display="inline-block;" onclick="clickme(this)">
	<span class="chevright" id="chevright" style="display: inline-block;">{{ partial "icon.html" "chevron-right" }} </span>
	<span class="chevdown" id="chevdown"  style="display: none; ">{{ partial "icon.html" "chevron-down" }} </span>
    <span>{{.Get 0 | default "Details"}}</span>
    </div>
    <div class="expand-content" style="display: none;">
	{{.Inner | safeHTML | markdownify }}</div>
</div>