{{ if eq $.Page.Params.title ( .Get 1 ) }}
	<div
        class="py-1 border-dotted border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
        Part {{ .Get 0 }}: {{ $.Page.Params.title }}
    </div>
{{ else }}
    <div
        class="py-1 border-dotted border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 dark:border-neutral-600">
        {{ with .Get 2 }}<a href="../../../pages/weasley-clock-project/{{ . }}">{{end}}Part {{ .Get 0 }}: {{ .Get 1 }} </a>
    </div>
{{ end }}